/* tablet */

@media (max-width:992px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    /*Mostrar el boton hamburguesa */
    .menu-hamburguesa {
        display: block;
    }
    .navbar{
        gap: 15px;
    }

    .navbar-list  {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background:  #465446;
        border: 2px solid rgb(244, 237, 197);
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        display: none;
    }

    #menu-toggle:checked~.navbar-list {
        display: flex;
    }

    .navbar-list a {
        font-size: 18px;
        background:  #eae6ca;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .menu-hamburguesa{
        display: flex;
        cursor: pointer;
        order: 2;
       
    }

    .menu-hamburguesa img{
        height: 20px;
        width: 25px;
    }

    .cover{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .card- img{
        display: none;
    }

    .cover h1{
        width: 90%;
        max-width: 500px;
        min-width: unset;
        
    }

    .cover p{
        width: 60%;
        max-width: 80%;
    }
    
}

@media (max-width:576px) {
    .header{
       height: 65px;
       position: fixed;
       width: 100%;
       top: 0;
       z-index: 10;
       
        
    }

    

   

    .menu {
        flex-direction: column;
        align-items: flex-end;
        width: 25px;
        height: 25px;
        padding: 10%;
        
    }

   
   .cover  {
    background-position: 0;
    text-align: center;
    padding: 0;
    margin: 0;
   }

   .cover p{
    background-color: red;
    font-size: 15px;
    
    
   }

   
   .card- img{
    display: none;
   }

   

   .Alimentacion-content {
    text-align: center;
   }

   .text-p{
    font-size: 15px;
   }

   .items li{
    font-size: 15px;
    text-align: justify;
   }

   .Alimentacion-group h3{
    font-size: 20px;
   }

   .Alimentacion-content h2 {
    font-size: 20px;
   }

   .nutricion-1 {
    font-size: 20px;
   } 

   /* SALUD */

   .Contacto-1 h3{
    font-size: 25px;
   }

   .Contacto-1 p {
    font-size: 15px;
   }

   /* informacion salud */

   .Informacion-salud {
    padding: 10%;
    height: auto;
   }

   .Informacion-1 h3{
    font-size: 20px;
   }

   .Informacion-1 img{
    float: none;
    width: 150px;
   }

   .Informacion-1 img{
    width: 50%;
   }

   .Informacion-1 p{
    font-size: 15px;
    text-align: start;
    
   }

  
   
   /* footer */
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1rf);
    grid-gap: 30px;
    padding: 110px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
    }
    
    

   
   
  
}