/* tablet */

@media (max-width:992px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    /*Mostrar el boton hamburguesa */
    .menu-hamburguesa {
        display: block;
    }

    .navbar-list  {
        position: absolute;
        top: 65px;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(1,0,17,1) 0%, rgba(18,75,111,1) 60%, rgba(63,153,102,1) 100%);
        border: 2px solid rgb(18, 29, 62);
        border-radius: 0 0 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        display: none;
    }

    #menu-toggle:checked~.navbar-list {
        display: flex;
    }

    .navbar-list a {
        font-size: 18px;
        background: linear-gradient(45deg, rgba(104,139,85,0.99) 0%, rgba(104,139,85,0.99)
        27%, rgba(29,62,9,1) 54%, rgba(29,62,9,1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .menu-hamburguesa{
        display: flex;
        cursor: pointer;
       
    }

    .menu-hamburguesa img{
        height: 20px;
        width: 25px;
    }
}

@media (max-width:576px) {
    .header{
       height: 70px;
       position: fixed;
       width: 100%;
       top: 0;
       z-index: 10;
       
        
    }

    

   

    .menu {
        flex-direction: column;
        align-items: flex-end;
        width: 25px;
        height: 25px;
        padding: 10%;
        
    }

    
   .container_cover  {
    background-position: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    
    
    
    
   }

   .cover .svg img{
    display: none;
   }

   .container_cover img{
    object-fit: cover;
   }

   .Alimentacion-content {
    text-align: center;
   }

   .text-p{
    font-size: 15px;
   }

   .items li{
    font-size: 15px;
    text-align: justify;
   }

   .Alimentacion-group h3{
    font-size: 20px;
   }

   .Alimentacion-content h2 {
    font-size: 20px;
   }

   .nutricion-1 {
    font-size: 20px;
   } 

   /* SALUD */

   .Contacto-1 h3{
    font-size: 25px;
   }

   .Contacto-1 p {
    font-size: 15px;
   }

   /* informacion salud */

   .Informacion-salud {
    padding: 10%;
    height: auto;
   }

   .Informacion-1 h3{
    font-size: 20px;
   }

   .Informacion-1 img{
    float: none;
    width: 150px;
   }

   .Informacion-1 img{
    width: 50%;
   }

   .Informacion-1 p{
    font-size: 15px;
    text-align: start;
    
   }

  
   
   /* footer */
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1rf);
    grid-gap: 30px;
    padding: 110px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
    }
    
    

   
   
  
}