/* tablet */

@media (max-width:992px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    /*Mostrar el boton hamburguesa */
    
    .navbar{
        gap: 15px;
    }

    .navbar-list  {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        background:  #465446;
        border: 2px solid rgb(244, 237, 197);
        border-top: none;
        border-radius: 0 0 15px 15px;
        padding: 30px 20px;
        gap: 20px;
        display: none;
        z-index: 5;
    }

    #menu-toggle:checked~.navbar-list {
        display: flex;
    }

    .navbar-list a {
        font-size: 18px;
        background:  #eae6ca;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .menu-hamburguesa{
        display: flex;
        cursor: pointer;
        order: 2;
        margin-right: 15px;
       
    }

    .menu-hamburguesa {
        display: block;
    }

    .menu-hamburguesa img{
        height: 20px;
        width: 25px;
    }

    .container_cover {
        flex-direction: column;
        padding: 80px 10px;
        background-size: cover;
    }

    .cover{
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .cover h1 {
       font-size: 60px;
        
    }
    
    .card- img{
        display: none;
    }

   

    .cover p{
       font-size: 23px;
       width: 90%;
    }

    .box p {
        font-size: 20px;
    }

    .Alimentacion-content {
        padding: 0 20px;
    }

    .text-p, .items li, .Contacto-1 p {
        padding: 0;
        font-size: 25px;
    }

    .Informacion-1 {
        flex-direction: column;
        align-items: center;
    }

    .Informacion-card {
        width: 90%;
        height: auto;
        
    }
    .Informacion-card p {
        font-size: 23px;
    }
    .Informacion-card h5 {
        font-size: 22px;
    }

    .Contacto-1 p {
        font-size: 25px;
        text-align: justify;
        padding: 0 30px;
    }
    .frase-box {
        font-size: 25px;
    }
}
/* CELULAR */
@media (max-width:576px) {
    .header{
       height: 65px;
       padding: 0 15px;
       
    }

    .menu {
        width: 100%;
       justify-content: space-between;
       padding: 0;
        
    }

    .menu-hamburguesa img {
        width: 24px;
        height: 24px;
    }

    .cover h1 {
        font-size: 32px;
        padding: 0 10px;
    }

   .cover p{
     font-size: 15px;
     padding: 0 10px;
     
   }

   .text-p,
   .items li,
   .Contacto-1 p {
    padding: 0 10px;
   }


   .card- img{
    display: none;
   }

   .Alimentacion-content h2,
   .Alimentacion-group h3,
   .nutricion-1,
   .Contacto-1 h3 {
    font-size: 24px;
   }

   .Informacion-1 {
    gap: 30px;
   }

   #Informacion-salud h4 {
    font-size: 25px;
   }

   .Informacion-card {
    width: 95%;
    padding: 20px;
   }

   /* FOOTER */

   .footer-text {
    font-size: 0.85rem;
    padding: 0 10px;
   }

   .social-icons img {
    width: 28px;
    height: 28px;
   }

   .text-p,
 .items li,
 .Contacto-1 p {
  text-align: center;
 }
}