
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    
}

body {
    font-family: 'Poppins', sans-serif;
}

/*---Header---*/

.header {
    background-color: #465446;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    position: fixed;
    width: 100%;
    
}

.logo {
    height: 100%;
}

/* MENU GENERAL */

.menu, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.menu{
    gap: 150px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: #eae6ca;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-list a:hover {
    color: #ffffff;
}

/* MENU HAMBURGUESA */
.menu-toggle {
    display: none;
}

.menu-hamburguesa {
    display: none;
    cursor: pointer;
}

.menu-hamburguesa img {
    height: 20px;
    width: 25px;
}

main{
    background-color: #526153;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.container_cover {
    margin-top: 65px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    
}

.cover{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 50%;
}


.cover h1{
    font-size: 48px;
    font-weight: 800;
    width: 80%;
    min-width: 500px;
   
    /* gradient */
    background: linear-gradient(45deg, rgba(104,139,85,0.99) 0%, rgba(104,139,85,0.99)
     27%, rgba(29,62,9,1) 54%, rgba(29,62,9,1) 100%);
     color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
     

}
   
.cover  p{
    font-size: 14px;
   width: 70%;
   color: #ffff;
}

.card- {
   width: 100%;
   height: auto;
}

.card- img{
    width: 100%;
    height: auto;
    display: block;
}







   







/*segunda pagina */

.Alimentacion {
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 ;
    background-color: #e1e2e6;
}

.Alimentacion-content{
    text-align: justify;
    
}



 .Alimentacion-content h2{
    font-size: 2rem;
    line-height: normal;
    color: #080600;
    margin-bottom: 10px;
    text-align: center;
    
}
.Alimentacion-group h3{
    text-align: center;

}
.Alimentacion-1{
    text-align: center;
}

.text-p{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    padding: 0 100px;
    text-align: justify;
}

.red-text-shadow {
    text-shadow: white 0 -5px;
    font-size: 30px;
}

.nutricion-1 {
    text-shadow: white 0 -5px ;
    font-size: 30px;

}

.items li{ 
    padding: 0 100px;
    font-size: 20px;
    text-align: center;
}


/* salud */

.Contacto-content {
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    color: goldenrod;
    padding: 5px;
    
}

.Contacto-1 h3{
    color: #080600;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
    text-shadow: #b3aeae 0 -5px;
}

.Contacto-1 p {
    font-size: 20px;
    text-align: justify;
    padding: 0 100px;
}


/* informacion salud */

.Informacion-salud{
   height: 260vh;
   display: flex;
   justify-content: center;
   background-repeat: no-repeat; 
    background-color: #e1e2e6;
    border-radius: 5px;
    padding: 0 100px;
}
.Informacion-1 h3{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    text-shadow: white 0 -5px;
}
.Informacion-1 p{
    z-index: 1;
    width: 540px;
    height: 440px;
    font-size: 19px;
    line-height: 1.5;
    border-radius: 5%;
    text-align: justify;
    justify-content: center;
    
}

.Informacion-1 img{
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    justify-content: center;
}



/* footer */
.box{
    width: 100%;
    height: 65%;
    text-align: center;
    padding: 20px;
    background-color: #526153;
}

.copyright {
    margin-bottom: 10px;
}

.red-social{
    margin-top: 10px;
}

.icon-elem a{
    margin-left: 10px;
    text-decoration: none;
    color: #eae6ca;
}



