
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    
}

body {
    font-family: 'Poppins', sans-serif;
}

/*---Header---*/

.header {
    background: linear-gradient(90deg, rgba(1,0,17,1) 0%, rgba(18,75,111,1) 60%, rgba(63,153,102,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    height: 100%;
}

/* MENU GENERAL */

.menu{
    display: flex;
    align-items: center;
    gap: 150px;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-list a{
    color: #0412a6;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-list a:hover {
    color: #ffffff;
}

/* MENU HAMBURGUESA */
.menu-toggle {
    display: none;
}

.menu-hamburguesa {
    display: none;
    cursor: pointer;
}

.menu-hamburguesa img {
    height: 20px;
    width: 25px;
}



.container_cover {
    width: 100%;
    height: 800px;
    background-image: url(imagenes/imagen\ de\ fondo\ portada.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 40px;
    
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container_cover .text{
    max-width: 400px;
    
}

.container_cover .text h1{
    font-size: 75px;
    font-weight: 600;
   
    /* gradient */
    background: linear-gradient(45deg, rgba(104,139,85,0.99) 0%, rgba(104,139,85,0.99)
     27%, rgba(29,62,9,1) 54%, rgba(29,62,9,1) 100%);
     color: transparent;
     background-clip: text;
     -webkit-background-clip: text;


}
   
    


.container_cover .text p{
    font-size: 20px;
   margin-top: 40px;
   color: #ffff;
}



.container_cover .svg img {
    width: 500px;
}






/*segunda pagina */

.Alimentacion {
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 ;
    background-color: #e1e2e6;
}

.Alimentacion-content{
    text-align: justify;
    
}



 .Alimentacion-content h2{
    font-size: 2rem;
    line-height: normal;
    color: #080600;
    margin-bottom: 10px;
    text-align: center;
    
}
.Alimentacion-group h3{
    text-align: center;

}
.Alimentacion-1{
    text-align: center;
}

.text-p{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    padding: 0 100px;
    text-align: justify;
}

.red-text-shadow {
    text-shadow: white 0 -5px;
    font-size: 30px;
}

.nutricion-1 {
    text-shadow: white 0 -5px ;
    font-size: 30px;

}

.items li{ 
    padding: 0 100px;
    font-size: 20px;
    text-align: center;
}


/* salud */

.Contacto-content {
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    color: goldenrod;
    padding: 5px;
    
}

.Contacto-1 h3{
    color: #080600;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
    text-shadow: #b3aeae 0 -5px;
}

.Contacto-1 p {
    font-size: 20px;
    text-align: justify;
    padding: 0 100px;
}


/* informacion salud */

.Informacion-salud{
   height: 260vh;
   display: flex;
   justify-content: center;
   background-repeat: no-repeat; 
    background-color: #e1e2e6;
    border-radius: 5px;
    padding: 0 100px;
}
.Informacion-1 h3{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    text-shadow: white 0 -5px;
}
.Informacion-1 p{
    z-index: 1;
    width: 540px;
    height: 440px;
    font-size: 19px;
    line-height: 1.5;
    border-radius: 5%;
    text-align: justify;
    justify-content: center;
    
}

.Informacion-1 img{
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    justify-content: center;
}



/* footer */
.pie-pagina {
    height: 100%;
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina{
    padding: 20px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1rf);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2 {
    color: #ffff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #ffff;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social li{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: brown;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}



